@import "~bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
}

.jumbotron {
    position: absolute;
    width: 400pt;

    .title {
        font-size: 2em;
    }

    .group-title {
        font-size: 1.5em;
    }
}
